---
const basePath = import.meta.env.BASE_URL;
---

<section class="giscus mx-auto mt-10 w-full"></section>

<script
	src={`${basePath}/giscus-client.js`}
	data-repo="martijnboland/blog"
	data-repo-id="R_kgDOLnJ31g"
	data-category="Blog comments"
	data-category-id="DIC_kwDOLnJ31s4CeVOQ"
	data-mapping="pathname"
	data-strict="0"
	data-reactions-enabled="1"
	data-emit-metadata="0"
	data-input-position="bottom"
	data-theme="preferred_color_scheme"
	data-lang="en"
	data-loading="lazy"
	crossorigin="anonymous"
	async
	is:inline></script>
